* {
    
}

ul  {
    list-style: none;
  }
  .ex__senasa {
    width: 500px;
    background-color: #cdcdcd;
    justify-content: center;
}

.li__senasa{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
  .li__senasa::before{
    content: '';
    display: inline-block;
    width: 95px;
    height: 75px;
    background-image: url(/assets/img/logos-proyecto/logo-senasa.jpeg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 25px;
    vertical-align: top;
  }

  .ex__municipalidad {
    width: 500px;
    background-color: #cdcdcd;
    justify-content: center;
  }
.li__municipalidad {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}
 .li__municipalidad::before {
    content: '';
    display: inline-block;
    width: 95px;
    height: 75px;
    background-image: url(/assets/img/logos-proyecto/logo-muni.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 25px;
}
/*revisar el boton para ver si puedo colocar a la derecha*/
.btn,.btn-primary {

}
  
    
