<!--Header-->
<header>
    <div  class="header__index">
        <img src="/assets/img/index/banner/pexels-huy-phan-11382772.jpg" alt="" class="banner__principal">
    <div>
        <img src="/assets/img/index/fotos-perfil/modo selfie.jfif" alt="" class="foto__perfil">
    </div>
    </div>
</header>

<!--NavBar / Logo Argentina Programa / Redes Sociales-->
<div>
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
            <img class="logo" src="/assets/img/logos-proyecto/APLogo.png" alt="logo">
        </a>
</div>
<div>
    <nav class="nav__rs"> 
        <ul class="redes__sociales">
            <li class="rs__icon">
                <a href="https://github.com/Lord-Char" alt="logo-github">
                <img src="/assets/img/logos-proyecto/icon-github.svg" width="55px" alt="">
            /li>
            <li class="rs__icon">
                <a href="https://twitter.com/matiasbstuk" alt="logo-twitter"><img src="/assets/img/logos-proyecto/icon-twitter.svg" width="55px" alt="">
            /li>
            <li class="rs__icon">
                <a href="https://www.linkedin.com/in/matblasker/" alt="logo-linkedin"><img src="/assets/img/logos-proyecto/icon-linkedin.svg" width="55px" alt="">
            /li>
        /ul>
    /nav>
/div>