.nav-item{
    margin: 20px;
}

.form-label,.form-control{
    background-color:#cdcdcd;
    padding: 20px;
    background-position: center;
    background-size: contain;
    margin-right: 20px;
    border-left: 30px;
}